@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Playfair Display', serif;
}
.navbar{
  background-color: #fff !important;
}
.nav-link{
  font-size: 1.7rem !important;
}

.navbar-brand{
  font-size: 2rem !important;
  color:#c712b8 !important;
  font-weight: bold;
}
.navbar a{
  font-size: 1.1rem;
  text-transform: capitalize;
}
.manu_active{
  font-weight: bold;
  color: #c712b8;
  border-bottom: 2px solid green; 
}
.navbar a:hover{
  color: #3498db;
}
/*homepage*/
#header{
  width: 100%;
  height: 90vh;
  margin-top: 70px;
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 3rem;
  font-weight: 700;
  color: black;
}
#header .brand-name{
  color: #3498db;
}
.cardimg{
  
  height: 15rem !important;
}
#header h2{
  color: #484848;
  font-size: 2.5rem;
}
 .btn{
  font-weight: 500 !important;
  font-size: 1.2rem !important;
  letter-spacing: 1px !important;
  display: inline-block !important;
  padding: 0.7rem 2rem !important;
  border-radius: 50px !important;
  transition: 0.5s !important;
  color: #3498db !important;
  border: 2px solid #3498db !important;
  text-decoration: none !important;
}
 .btn:hover{
  background: #3498db !important;
  color: white !important;
}

#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
  0%{
    transform: translateY(20px);
  }
  100%{
    transform: translateX(-10px);
  }
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateX(-10px);
  }
}
.contact_div,textarea{
  font-size: 1.5rem !important;
  
}

input{
  padding: 10px !important;
  font-family: sans-serif !important;
  font-size:1.5rem !important;
}
input::placeholder{
  font-size: 1.5rem;
}